<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMarketOrderlineLabel" jhiTranslate="marketApp.marketOrderline.home.createOrEditLabel">Create or edit a Market Orderline</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!marketOrderline.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="marketOrderline.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="marketApp.marketOrderline.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                [(ngModel)]="marketOrderline.quantity"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="marketApp.marketOrderline.marketOrders" for="field_marketOrders">Market Orders</label>
            <select class="form-control" id="field_marketOrders" name="marketOrders" [(ngModel)]="marketOrderline.marketOrdersId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="marketOrdersOption.id" *ngFor="let marketOrdersOption of marketorders; trackBy: trackMarketOrdersById">{{marketOrdersOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="marketApp.marketOrderline.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="marketOrderline.productId">
                <option [ngValue]="null"></option>
                <option [ngValue]="marketProductOption.id" *ngFor="let marketProductOption of products; trackBy: trackMarketProductById">{{marketProductOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
