
<div *ngIf="marketOrderline">
    <h2><span jhiTranslate="marketApp.marketOrderline.detail.title">Market Orderline</span> {{marketOrderline.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="marketApp.marketOrderline.quantity">Quantity</span></dt>
        <dd>
            <span>{{marketOrderline.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="marketApp.marketOrderline.marketOrders">Market Orders</span></dt>
        <dd>
            <div *ngIf="marketOrderline.marketOrdersId">
                <a [routerLink]="['/market-orders', marketOrderline.marketOrdersId]">{{marketOrderline.marketOrdersId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'market-orderline/'+ marketOrderline.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
