
<div *ngIf="marketOrder">
    <h2><span jhiTranslate="marketplacejhipsterApp.marketOrder.detail.title">Market Order</span> {{marketOrder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrder.orderDate">Order Date</span></dt>
        <dd>
            <span>{{marketOrder.orderDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrder.date">Date</span></dt>
        <dd>
            <span>{{marketOrder.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrder.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'marketplacejhipsterApp.Status.' + marketOrder.status}}">{{marketOrder.status}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrder.remoteVirtualCardId">Remote Virtual Card Id</span></dt>
        <dd>
            <span>{{marketOrder.remoteVirtualCardId}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrder.marketOrderId">Market Order Id</span></dt>
        <dd>
            <span>{{marketOrder.marketOrderId}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrder.payment">Payment</span></dt>
        <dd>
            <div *ngIf="marketOrder.paymentId">
                <a [routerLink]="['/payment-my-suffix', marketOrder.paymentId]">{{marketOrder.paymentId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrder.customer">Customer</span></dt>
        <dd>
            <div *ngIf="marketOrder.customerId">
                <a [routerLink]="['/customer-my-suffix', marketOrder.customerId]">{{marketOrder.customerId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'market-order-my-suffix/'+ marketOrder.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
