<div>
    <h2>
        <span jhiTranslate="marketApp.customerAddress.home.title">Customer Addresses</span>
        <button class="btn btn-primary float-right jh-create-entity create-customer-address" [routerLink]="['/', { outlets: { popup: ['customer-address-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="marketApp.customerAddress.home.createLabel">
            Create new Customer Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'marketApp.customerAddress.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="customerAddresses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="marketApp.customerAddress.streetAddress">Street Address</span></th>
            <th><span jhiTranslate="marketApp.customerAddress.city">City</span></th>
            <th><span jhiTranslate="marketApp.customerAddress.postalCode">Postal Code</span></th>
            <th><span jhiTranslate="marketApp.customerAddress.stateProvince">State Province</span></th>
            <th><span jhiTranslate="marketApp.customerAddress.country">Country</span></th>
            <th><span jhiTranslate="marketApp.customerAddress.customer">Customer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerAddress of customerAddresses ;trackBy: trackId">
                <td><a [routerLink]="['../customer-address', customerAddress.id ]">{{customerAddress.id}}</a></td>
                <td>{{customerAddress.streetAddress}}</td>
                <td>{{customerAddress.city}}</td>
                <td>{{customerAddress.postalCode}}</td>
                <td>{{customerAddress.stateProvince}}</td>
                <td>
                    <div *ngIf="customerAddress.countryId">
                        <a [routerLink]="['../country', customerAddress.countryId  ]" >{{customerAddress.countryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="customerAddress.customerId">
                        <a [routerLink]="['../customer', customerAddress.customerId  ]" >{{customerAddress.customerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../customer-address', customerAddress.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-address/'+ customerAddress.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-address/'+ customerAddress.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
