<div class="container">

    <!-- ====================================================  -->
        <!-- - -->
        <h1>Market Search</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="form-inline">
            <!-- - -->
            <!-- market -->
            <label class="mr-sm-2" for="inlineFormCustomSelect">Market</label>
            <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" id="market" required [(ngModel)]="model.market" name="market">
                <option *ngFor="let mkt of markets" [value]="mkt">{{mkt}}</option>
            </select>
            <!-- category -->
            <label class="mr-sm-2" for="inlineFormCustomSelect">Category</label>
            <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" id="searchindex" required [(ngModel)]="model.searchindex"
                name="searchindex">
                <option *ngFor="let index of searchindexes" [value]="index">{{index}}</option>
            </select>
            <!-- search query -->
            <div class="form-group">
                <label class="sr-only" for="inlineFormInputGroup">Query</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="search ..." id="query" required [(ngModel)]="model.query"
                    name="query" #query="ngModel">
                <div [hidden]="query.valid || query.pristine" class="alert alert-danger">Query is required</div>
            </div>
            <!-- - -->
            <button type="submit" class="btn btn-success btn-outline-success" [disabled]="!heroForm.form.valid"><md-icon>search</md-icon></button>
            <button type="button" class="btn btn-default" (click)="newSearch(); heroForm.reset()"><md-icon>clear</md-icon></button>
            
        </form>

    <!-- ====================================================  -->

</div>