
<div *ngIf="marketInfo">
    <h2><span jhiTranslate="marketApp.marketInfo.detail.title">Market Info</span> {{marketInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="marketApp.marketInfo.key">Key</span></dt>
        <dd>
            <span>{{marketInfo.key}}</span>
        </dd>
        <dt><span jhiTranslate="marketApp.marketInfo.value">Value</span></dt>
        <dd>
            <span>{{marketInfo.value}}</span>
        </dd>
        <dt><span jhiTranslate="marketApp.marketInfo.market">Market</span></dt>
        <dd>
            <div *ngIf="marketInfo.marketId">
                <a [routerLink]="['/market', marketInfo.marketId]">{{marketInfo.marketId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'market-info/'+ marketInfo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
