
<div *ngIf="market">
    <h2><span jhiTranslate="marketplacejhipsterApp.market.detail.title">Market</span> {{market.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="marketplacejhipsterApp.market.name">Name</span></dt>
        <dd>
            <span>{{market.name}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.market.content">Content</span></dt>
        <dd>
            <span>{{market.content}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'market-my-suffix/'+ market.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
