
<div *ngIf="marketOrderItems">
    <h2><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.detail.title">Market Order Items</span> {{marketOrderItems.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.title">Title</span></dt>
        <dd>
            <span>{{marketOrderItems.title}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.description">Description</span></dt>
        <dd>
            <span>{{marketOrderItems.description}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.price">Price</span></dt>
        <dd>
            <span>{{marketOrderItems.price}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.img">Img</span></dt>
        <dd>
            <div *ngIf="marketOrderItems.img">
                <a (click)="openFile(marketOrderItems.imgContentType, marketOrderItems.img)">
                    <img [src]="'data:' + marketOrderItems.imgContentType + ';base64,' + marketOrderItems.img" style="max-width: 100%;" alt="marketOrderItems image"/>
                </a>
                {{marketOrderItems.imgContentType}}, {{byteSize(marketOrderItems.img)}}
            </div>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.name">Name</span></dt>
        <dd>
            <span>{{marketOrderItems.name}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.marketOrder">Market Order</span></dt>
        <dd>
            <div *ngIf="marketOrderItems.marketOrderId">
                <a [routerLink]="['/market-order-my-suffix', marketOrderItems.marketOrderId]">{{marketOrderItems.marketOrderId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.order">Order</span></dt>
        <dd>
            <div *ngIf="marketOrderItems.orderId">
                <a [routerLink]="['/market-order-my-suffix', marketOrderItems.orderId]">{{marketOrderItems.orderId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'market-order-items-my-suffix/'+ marketOrderItems.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
