<div>
    <h2>
        <span jhiTranslate="marketplacejhipsterApp.marketOrderItems.home.title">Market Order Items</span>
        <button class="btn btn-primary float-right create-market-order-items-my-suffix" [routerLink]="['/', { outlets: { popup: ['market-order-items-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="marketplacejhipsterApp.marketOrderItems.home.createLabel">
            Create new Market Order Items
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'marketplacejhipsterApp.marketOrderItems.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="marketOrderItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="img"><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.img">Img</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="marketOrderId"><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.marketOrder">Market Order</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderId"><span jhiTranslate="marketplacejhipsterApp.marketOrderItems.order">Order</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let marketOrderItems of marketOrderItems ;trackBy: trackId">
                <td><a [routerLink]="['../market-order-items-my-suffix', marketOrderItems.id ]">{{marketOrderItems.id}}</a></td>
                <td>{{marketOrderItems.title}}</td>
                <td>{{marketOrderItems.description}}</td>
                <td>{{marketOrderItems.price}}</td>
                <td>
                    <a *ngIf="marketOrderItems.img" (click)="openFile(marketOrderItems.imgContentType, marketOrderItems.img)">
                        <img [src]="'data:' + marketOrderItems.imgContentType + ';base64,' + marketOrderItems.img" style="max-height: 30px;" alt="marketOrderItems image"/>
                    </a>
                    <span *ngIf="marketOrderItems.img">{{marketOrderItems.imgContentType}}, {{byteSize(marketOrderItems.img)}}</span>
                </td>
                <td>{{marketOrderItems.name}}</td>
                <td>
                    <div *ngIf="marketOrderItems.marketOrderId">
                        <a [routerLink]="['../market-order-my-suffix', marketOrderItems.marketOrderId  ]" >{{marketOrderItems.marketOrderId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="marketOrderItems.orderId">
                        <a [routerLink]="['../market-order-my-suffix', marketOrderItems.orderId  ]" >{{marketOrderItems.orderId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../market-order-items-my-suffix', marketOrderItems.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'market-order-items-my-suffix/'+ marketOrderItems.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'market-order-items-my-suffix/'+ marketOrderItems.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
