
<div *ngIf="operator">
    <h2><span jhiTranslate="marketplacejhipsterApp.operator.detail.title">Operator</span> {{operator.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="marketplacejhipsterApp.operator.firstName">First Name</span></dt>
        <dd>
            <span>{{operator.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.operator.lastName">Last Name</span></dt>
        <dd>
            <span>{{operator.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.operator.email">Email</span></dt>
        <dd>
            <span>{{operator.email}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.operator.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{operator.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.operator.hireDate">Hire Date</span></dt>
        <dd>
            <span>{{operator.hireDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.operator.gender">Gender</span></dt>
        <dd>
            <span jhiTranslate="{{'marketplacejhipsterApp.Gender.' + operator.gender}}">{{operator.gender}}</span>
        </dd>
        <dt><span jhiTranslate="marketplacejhipsterApp.operator.user">User</span></dt>
        <dd>
            {{operator.userId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'operator-my-suffix/'+ operator.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
