<div class="container-fluid">
  <div class="row">
    <a class="nav-link" (click)="goBack()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span>Back</span>
  </a>
    <a class="nav-link" routerLink="/marketproduct">
    <i class="fa fa-search" aria-hidden="true"></i>
    <span>Search</span>
  </a>
    <a class="nav-link" routerLink="/cart">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <span>Cart</span>
  </a>
  </div>
</div>




<div class="container">
  <h2>ITEM Lookup</h2>
  <div class="row">
    <div class=" col-md-6">
      <div class="card">
        <img src="{{product.mainImageUrl}}" alt="Card image cap" class="card-img-top img-fluid mx-auto">
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">{{product.title}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{product.asin}}</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              Featured
            </div>
            <div class="card-block">
              <h4 class="card-title">{{product.price}}</h4>
              <p class="card-text">Livraison gratuite</p>
              <div class="input-group">
                <button (click)="minus()"><i class="fa fa-minus"></i></button>
                <input readonly type="number" name="quantity" min="1" max="3" size="1" [(ngModel)]="quantity">
                <button (click)="plus()"><i class="fa fa-plus"></i></button>
              </div>
              <p>
              <button (click)="addToCart()">Ajout</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>